/* 背景 */
body {
    background-color: #0d1b2a;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* 箱 */
.game-container {
    width: 50%;
    max-width: 500px;
    background-color: #111;
    border: 1px solid #1b4965;
    border-radius: 15px;
    padding: 20px 20px;      
    margin-bottom: 10px;
}

/* テーブル */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Ranking */
caption {
    font-family: Arial;
    color: #4cc9f0;
    font-size: 2rem;       
    margin-bottom: 10px;    
    letter-spacing: 2px;
    border-bottom: 2px solid #1b4965;
    text-align: left;         
    padding-bottom: 8px;
}

/*見出し*/
th {
    color: #4cc9f0;
    font-size: 1rem;
    text-align: right;
    padding: 4px 16px 8px 0;
    border-bottom: 2px solid #1b4965;
    font-weight: normal;      
    letter-spacing: 1px;
    background-color: transparent;  
}

/* 行 */
tr {
    border-bottom: 1px solid #1b4965;  
}

/* 共通 */
td {
    color: #ffffff;
    font-family: Arial;
    font-size: 1.5rem;   
    padding: 5px 15px 5px 0; 
    text-align: right;
}

/* 順位列だけ幅固定 */
td:nth-child(1) {
    width: 40px;
    color: #4cc9f0; 
}

/* スコア列*/
td:nth-child(3) {
    width: 100px;
}

/* 戻るボタン */
form {
    width: 50%;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
}

input[type="submit"] {
    color: #ffffff;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #111e2e;
    border: 2px solid #415a77;
    padding: 10px 30px;
} 