/* 背景 */
body {
    margin: 0;/*デフォルトのスペースをリセット*/
    padding: 0;
    font-family: Arial;
    background-color: #0d1b2a;
    display: flex;/*柔軟に動かせるように*/
    flex-direction: column;/*縦にならばす*/
    justify-content: center;/*余白を均等にさせる*/
    align-items: center;/*中央にそろえる*/
    height: 100vh; /*画面いっぱいが指定要素の範囲*/
}

/*Typing555! */
h1 {
    font-size: 3rem;/*ページサイズ変わってもok*/
    color: #4cc9f0; 
    margin-bottom: 30px;/*ページサイズかわってもボタンとの距離一定に*/
    letter-spacing: 2px;
}

/* フォームとボタンの配置 */
form {
    text-align: center;/*真ん中に*/
}

/* メニューへボタン */
input[type="submit"] {
    background-color: #1b4965; 
    color: #ffffff;
    border: 2px solid #62b6cb; 
    border-radius: 8px;/*角を丸くする。*/
    padding: 12px 35px;/*上方向余白、下方向余白*/
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}

