<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel = "stylesheet" th:href="@{../team5/Team5ranking.css}">
<head>
<meta charset="UTF-8">
<title>title here</title>
</head>
<body>	
	<div class="positionCenter game-container">	
		<table>
			<caption>Ranking</caption>
			<tr>
			    <th>順位</th>        
			    <th>名前</th>
			    <th>スコア</th>
			</tr>
			<tr th:each="rank,stat : ${ranking}" th:object="${rank}">
				<td th:text="${stat.count}"></td>
				<td th:text="*{userId}"></td>
				<td th:text="*{score}"></td>
			</tr>		
		</table>
		</div>
			<br>
			<div class="positionCenter game-container">	
				<table>
					<caption>あなたの成績</caption>
					<tr>
					    <th>順位</th>        
					    <th>名前</th>
					    <th>スコア</th>
					</tr>
					<tr th:object="${nowUser}">
						<td th:text="${nowRanking}"></td>
						<td th:text="*{userId}"></td>
						<td th:text="*{score}"></td>
					</tr>
				</table>
				</div>
	<form method="post" th:action="@{/Team5/rankingback}">
			<input type="submit" name= "return" value="戻る"  />
	</form>	
			
</body>
</html>