<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel = "stylesheet" th:href="@{/Team5/Team5typing.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="button-container">
	
	<form method="post" th:action="@{/Team5/menu}">
			<br>
			<input type="submit" name= return value="戻る" class="back" />
	</form>	
	
	<form method="post" th:action="@{/Team5/uchikomi}">
						<br>
						<input type="submit" name= clear value="スタート！" class="start" />
		</form>
	</div>
</body>
</html>