<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel = "stylesheet" th:href="@{/Team5ranking.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>	
		
		<table>
			<caption>Ranking</caption>
			<tr>
				<td>1</td>
				<td>ユーザー</td>
				<td>　　/分</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>ユーザー</td>
				<td>　　/分</td>
			</tr>			
			
			<tr>
				<td>3</td>
				<td>ユーザー</td>
				<td>　　/分</td>
			</tr>	
			
			<tr>
				<td>4</td>
				<td>ユーザー</td>
				<td>　　/分</td>
			</tr>	
			
			<tr>
				<td>5</td>
				<td>ユーザー</td>
				<td>　　/分</td>
			</tr>			
		</table>
			<br>
	<form method="post" th:action="@{/Team5/rankingback}">
			<input type="submit" name= return value="戻る"  />
	</form>	
			
</body>
</html>