<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Typing555!</title>
<link rel="stylesheet" th:href="Team5uchikomi.css" type="text/css">
</head>
<body>
    
    <div class="positionCenter game-container">
        <th:block class="sampleBody question-text">
            <p class="question-text" th:text = "${reibun}"></p>
        </th:block>
    </div>

	<form id="complete-form" method="post" th:action="@{/Team5/result}">
	        <div class="positionCenter">
	            <textarea name="inputText"></textarea>
	            <br>
	            <input type="hidden" name="next" value="完了！" />
	            
	            <input type="submit" name="next" value="完了！" class="btn-complete" />
	        </div>
	    </form>
	    
	    <form method="post" th:action="@{/Team5/typi}">
	        <div class="positionCenter">
	            <input type="submit" name="return" value="戻る" class="btn-back" />
	        </div>
	    </form>

	<script>
	    // 画面全体でキー入力を監視
	    document.addEventListener('keydown', function(event) {
	        // 押されたキーが Enter キーの場合
	        if (event.key === 'Enter') {
	            // 本来のEnterキーの挙動（テキストエリアでの改行など）をストップ
	            event.preventDefault();
	            // 完了ボタンのフォームを送信
	            document.getElementById('complete-form').submit();
	        }
	    });
	</script>

</body>
</html>


