<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel = "stylesheet" th:href="@{/Team5/Team5touroku.css}">
<head>
<meta charset="UTF-8">
<title>Typing555!</title>
</head>
<body>
	<form method="post" th:action="@{/Team5/tourokuExecute}" th:object="${team5Account}">
			<p th:if="${isDuplicated == -1}" style="color: red;">このIDは既に登録されています。</p>
	        <h4>ユーザーネーム</h4>
	        <input type="text" th:field="*{userId}" />
	        <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color: red;"></p>
	        
	        <br>
	        <h4>パスワード</h4>
	        <input type="text" th:field="*{passWord}" />
	        <p th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}" style="color: red;"></p>
	        
	        <br><br>
	        <input type="submit" value="登録" />
	    </form>
		<form method="post" th:action="@{/Team5/loginback}" >
		<input type="submit" name="loginback" value="戻る" />
		</form>
		
</body>
</html>