<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel = "stylesheet" th:href="@{/Team5/Team5menu.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>メニュー</h2>
<form method="post" th:action="@{/Team5/typi}">
		<br>
		<input type="submit" name= "next" value="タイピングする" />
	</form>
	<form method="post" th:action="@{/Team5/ranking}">
			<br>
			<input type="submit" name= "result" value="ランキングを見る" />
		</form>
	<form method="post" th:action="@{/Team5/logout}">
		<br>
		<input type="submit" name="logout" value="ログアウト"/>
	</form>
</body>
</html>