<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../team5/Team5result.css}">
<head>
<meta charset="UTF-8">
<title>Typing555!</title>
</head>
<body>
	<form method="post" th:action="@{/Team5/typi}">
	<h1>～結果発表～</h1>
	
	<h2 th:text="正解数： + ${Cor}"></h2>
	<h2 th:text="失敗数： + ${Wor}"></h2>
	<h2 th:text="正解率： + ${Per}"></h2>
	<h2 th:text="スコア： + ${Min}"></h2>
	
	<p th:text="${inputText}"></p>
	<input type="submit" name ="retry" value="もう一度タイピングする" />
</form>
	<form method="post" th:action="@{/Team5/result１}">
		<input type="submit" name ="next" value="メニュー画面へもどる" />	
	</form>
</body>
</html>